﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    width: 100%;
    margin: 10px 0;  
}

.row textarea{
    height: 160px;
}

input[type="submit"] {
    height: 50px;
}

.ok input, .ok textarea {
    border: 2px solid green;
}

.ko input, .ko textarea {
    border: 2px solid red;
}

.base64 input {
    display: block;
    float: left;
    width: 25px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
